@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body{
    padding: 0;
    margin-left: 50px;
    font-family: "roboto";
    max-width: 1400px;
}
