@import "../utils/box-shadow.scss";
@import "../utils/hover.scss";

.fonctionnement {
  margin-top: 4rem;
  width: 100%;
  counter-reset: numero;
  & ol {
    width: 95%;
    margin-left: 0rem;
    padding-left: 2rem;
    justify-content: space-between;
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin-bottom: 5rem;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
  & li {
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 1rem 2rem;
    gap: 2rem;
    border-radius: 15px;
    @include base-shadow;
    width: 25%;
    position: relative;
    @media (max-width:1000px) {
      width: 90%;
      padding-right: 0;
    }
    &::before {
      content: counter(numero);
      counter-increment: numero;
      color: white;
      background-color: #9356dc;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 12px;
      left: -17px;
    }
    
  }
  & li:hover {
    font-weight: 500;
    @include hover;
  }

  & i.fas {
    margin-right: 20px;
    color: rgb(161, 161, 161);
  }
  & li:hover i.fas {
    color: #9356dc;
  }
}
