.pied_de_page {
  background-color: rgb(48, 47, 47);
  padding-bottom: 2rem;
  display: flex;

  .titre_footer {
    color: white;
    & h2 {
      font-family: "shrikhand";
      font-weight: 200;
      font-family: 0.6rem;
      padding: 1rem 2rem;
      margin: 0;
    }

    & ul {
      color: white;
      list-style-type: none;
      margin: 0;
    }

    & li {
      padding: 0;
      margin-top: 0.5rem;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    & i {
      width: 0.2rem;
      font-size: 0.8rem;
      margin-right: 2rem;
    }
    & a {
      color: white;
    }
  }
}
@media (min-width: 800px) {
  footer {
    margin-top: 0rem;
  }
  .pied_de_page {
    justify-content: center;
    align-items: center;

    & ul {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}
