.pied_de_page{
    background-color: rgb(17, 1, 1);
    padding-bottom: 2rem;

    .titre_footer {
        color: white;
        & h2{
            font-family: "shrikhand";
            font-weight: 200;
            font-family: 0.6rem;
            padding: 1rem 2rem;
            margin : 0;
            }
        
        & ul {
            color: white;
            list-style-type: none;
            margin: 0;
            
        }
        & li{
            padding: 0;
            margin-top: 0.5rem;
        }
        & i{
            width: 0.2rem;
            font-size: 0.8rem;
            margin-right: 2rem;

        }
        
    }

}