@import "../utils/heart.scss";
@import "../utils/box-shadow.scss";
@import "../utils/hover.scss";
.menus {
  background-color: #f0f0f0;
  padding-bottom: 4rem;
  .carte_menu {
    height: auto;
    & a {
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      cursor: pointer;
      margin-top: 1rem;
      @include base-shadow;
      &:hover {
        @include hover;
      }
    }
    .carte {
      background-color: white;
      width: 98%;
      margin: 1%;
      margin-top: 2rem;
      height: 15rem;
    }
    .carte_img {
      background-image: url("../../assets/restaurants/menu-1.jpg");
      background-size: cover;
      background-position: center;
      height: 12rem;
      border-radius: 1rem 1rem 0 0;
    }
    & .image2 {
      background-image: url("../../assets/restaurants/menu-2.jpg");
    }
    & .image3 {
      background-image: url("../../assets/restaurants/menu-3.jpg");
    }
    & .image4 {
      background-image: url("../../assets/restaurants/menu-4.jpg");
    }
    .carte_texte {
      margin-left: 1rem;
      width: 90%;
    }
    .carte_texte h3 {
      margin-top: 0.5rem;
      margin-bottom: 0.3rem;
      font-weight: 500;
    }
    .carte_texte p {
      margin-top: 0;
      font-weight: 300;
    }
    .texte_icone {
      display: flex;
    }
    .icone_coeur {
      width: 10%;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    @include heart;
  }
}
@media (min-width: 1000px) {
  .carte_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    gap: 2rem;
  }
}
