.ville{
  
    margin-top: -18px;
    background-color: #f3f3f3;
    padding: 1.5rem 1rem;

    
  & .titre{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
  }
  & h2 {
    margin: 0;
    font-size: 1rem;
  }
  & i {
    font-size: 1.1rem;
}
}