@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "roboto";
  max-width: 1600px;
}

h2 {
  padding: 1rem 0;
  margin: 0 2rem;
}

a {
  text-decoration: none;
  color: black;
}

header {
  text-align: center;
  margin-top: 0px;
  box-shadow: 2px 1px 16px -3px #777777;
}
header h1 {
  padding: 1rem;
  margin-top: 0px;
  font-family: "Shrikhand";
  font-size: 2rem;
  font-weight: 300;
}

.ville {
  margin-top: -18px;
  background-color: #f0f0f0;
  padding: 1.5rem 1rem;
}
.ville .titre {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.ville h2 {
  margin: 0;
  font-size: 1.5rem;
}
.ville i {
  font-size: 1.3rem;
}

.explorer {
  text-align: center;
  margin-bottom: 5rem;
  padding-top: 0.5rem;
}
.explorer h2 {
  font-size: 1.8rem;
  padding: 0px;
}
.explorer p {
  font-size: 1.1rem;
}
.explorer button {
  margin-top: 1.2rem;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 32px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 2px 1px 16px -3px #777777;
}
.explorer button:hover {
  opacity: 0.8;
  box-shadow: 3px 3px 12px #000000;
  transition: 0.3s;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #f6f6f6;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.7;
  animation: disappear 50ms 3s forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 80px;
  width: 80px;
  border: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-bottom: 5px solid #9356dc;
  border-radius: 50%;
  animation: spin 3s infinite linear;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.fonctionnement {
  counter-reset: numero;
}
.fonctionnement ol {
  padding-right: 1rem;
  list-style-type: none;
  display: flex;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  width: 90%;
  position: relative;
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 1rem 1rem;
  flex-grow: 1;
  border-radius: 15px;
  box-shadow: 2px 1px 16px -3px #777777;
}
.fonctionnement li::before {
  content: counter(numero);
  counter-increment: numero;
  color: white;
  background-color: #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 12px;
  left: -17px;
}
.fonctionnement li:hover {
  font-weight: 500;
  opacity: 0.8;
  box-shadow: 3px 3px 12px #000000;
  transition: 0.3s;
}
.fonctionnement i.fas {
  margin-right: 20px;
  color: #a1a1a1;
}
.fonctionnement li:hover i.fas {
  color: #9356dc;
}

.menus {
  background-color: #f6f6f6;
  padding-bottom: 2rem;
}
.menus .carte_menu a {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}
.menus .carte {
  background-color: white;
  width: 98%;
  margin: 1%;
  margin-top: 2rem;
  height: 15rem;
}
.menus .carte_img {
  background-image: url("../../assets/restaurants/menu-1.jpg");
  background-size: cover;
  background-position: center;
  height: 12rem;
  border-radius: 1rem 1rem 0 0;
}
.menus .image2 {
  background-image: url("../../assets/restaurants/menu-2.jpg");
}
.menus .image3 {
  background-image: url("../../assets/restaurants/menu-3.jpg");
}
.menus .image4 {
  background-image: url("../../assets/restaurants/menu-4.jpg");
}
.menus .carte_texte {
  margin-left: 1rem;
  width: 90%;
}
.menus .carte_texte h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-weight: 500;
}
.menus .carte_texte p {
  margin-top: 0;
  font-weight: 300;
}
.menus .texte_icone {
  display: flex;
}
.menus .icone_coeur {
  width: 10%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.menus .far.fa-heart {
  margin-right: -32px;
}
.menus .fas.fa-heart {
  background: -moz-linear-gradient(top, #9356dc 0%, #ff79da 100%);
  background: -webkit-linear-gradient(top, #9356dc 0%, #ff79da 100%);
  background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.menus .far.fa-heart:hover {
  opacity: 0;
  transition: 0.7;
}
.menus .fas.fa-heart:hover {
  opacity: 1;
}

@media (min-width: 1000px) {
  .carte_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    gap: 2rem;
  }
}
.pied_de_page {
  background-color: #302f2f;
  padding-bottom: 2rem;
}
.pied_de_page .titre_footer {
  color: white;
}
.pied_de_page .titre_footer h2 {
  font-family: "shrikhand";
  font-weight: 200;
  font-family: 0.6rem;
  padding: 1rem 2rem;
  margin: 0;
}
.pied_de_page .titre_footer ul {
  color: white;
  list-style-type: none;
  margin: 0;
}
.pied_de_page .titre_footer li {
  padding: 0;
  margin-top: 0.5rem;
  cursor: pointer;
}
.pied_de_page .titre_footer li:hover {
  text-decoration: underline;
}
.pied_de_page .titre_footer i {
  width: 0.2rem;
  font-size: 0.8rem;
  margin-right: 2rem;
}
.pied_de_page .titre_footer a {
  color: white;
}

@media (min-width: 1000px) {
  footer {
    margin-top: 5rem;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "roboto";
  max-width: 1600px;
}

h2 {
  padding: 1rem 0;
  margin: 0 2rem;
}

a {
  text-decoration: none;
  color: black;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header .header_icone {
  height: 3rem;
}
.header .header_titre {
  font-family: "shrikhand";
}

.fa-arrow-left {
  position: absolute;
  font-size: 2rem;
  margin-left: 2rem;
  left: 0rem;
}

.img_baniere {
  margin-top: -1rem;
}

.img_baniere img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

.menu_entree {
  margin: 0 2rem;
}

.menu_carte {
  border-radius: 2rem 2rem 0 0;
  margin-top: -3rem;
  background-color: white;
  position: relative;
}

.titre_restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}
.titre_restaurant h2 {
  padding-top: 2rem;
  margin-left: 0;
  font-family: "shrikhand";
  font-weight: 100;
}
.titre_restaurant i {
  font-size: 2rem;
  cursor: pointer;
}
.titre_restaurant .fas.fa-heart {
  margin-left: -4px;
}
.titre_restaurant .far.fa-heart {
  margin-right: -32px;
}
.titre_restaurant .fas.fa-heart {
  background: -moz-linear-gradient(top, #9356dc 0%, #ff79da 100%);
  background: -webkit-linear-gradient(top, #9356dc 0%, #ff79da 100%);
  background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.titre_restaurant .far.fa-heart:hover {
  opacity: 0;
  transition: 0.7;
}
.titre_restaurant .fas.fa-heart:hover {
  opacity: 1;
}

.menu_entree {
  margin-bottom: 2rem;
}
.menu_entree h2 {
  margin-left: 0;
  padding-bottom: 0.2rem;
  font-size: 1.2rem;
  font-weight: 100;
  border-bottom: 3px solid #99e2d0;
  width: 2.5rem;
}
.menu_entree .entree {
  margin: 0rem 1rem;
  display: flex;
  justify-content: space-between;
}
.menu_entree .titre_entree {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu_entree .titre_entree h3 {
  margin-bottom: 0;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu_entree .titre_entree p {
  margin-top: 0;
  font-weight: 100;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu_entree .description_menu {
  margin-top: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 1px 16px -3px #777777;
  animation: appear 2s;
  animation-fill-mode: both;
  overflow: hidden;
  cursor: pointer;
}
.menu_entree .description_menu:nth-child(1) {
  animation-delay: 200ms;
}
.menu_entree .description_menu:hover .check {
  margin-right: -1rem;
  border-radius: 0 1rem 1rem 0;
  transition: 1s;
}
.menu_entree .description_menu:nth-child(2) {
  animation-delay: 400ms;
}
.menu_entree .description_menu:hover .check {
  margin-right: -1rem;
  border-radius: 0 1rem 1rem 0;
  transition: 1s;
}
.menu_entree .description_menu:nth-child(3) {
  animation-delay: 600ms;
}
.menu_entree .description_menu:hover .check {
  margin-right: -1rem;
  border-radius: 0 1rem 1rem 0;
  transition: 1s;
}
.menu_entree .description_menu:nth-child(4) {
  animation-delay: 800ms;
}
.menu_entree .description_menu:hover .check {
  margin-right: -1rem;
  border-radius: 0 1rem 1rem 0;
  transition: 1s;
}
.menu_entree .description_menu:nth-child(5) {
  animation-delay: 1000ms;
}
.menu_entree .description_menu:hover .check {
  margin-right: -1rem;
  border-radius: 0 1rem 1rem 0;
  transition: 1s;
}
.menu_entree .description_menu .menu_prix {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1rem;
  padding-right: 1.5rem;
  overflow: hidden;
}
.menu_entree .description_menu .check {
  margin-right: -7rem;
  height: 5rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.menu_entree .description_menu .fas {
  background-color: white;
  width: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  right: 1rem;
}
.menu_entree .description_menu:hover .fas {
  animation: rotation 2s;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
