@import "../base.scss";
.img_baniere{
    margin-top: -2rem;
}
.img_baniere img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.menu_entree{
    margin:  0 2rem;
}
.menu_carte{
    border-radius: 2rem 2rem 0 0;
    margin-top: -3rem;
    background-color: white;
    position: relative;
}
.titre_restaurant{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
    & h2{
        padding-top: 2rem;
        margin-left: 0;
        font-family: "shrikhand";
        font-weight: 100;
    }
    & i{
        font-size: 2rem;
    }
}
.menu_entree{
    margin-bottom: 2rem;
    & h2 {
        margin-left: 0;
        padding-bottom: 0.2rem;
        font-size: 1.2rem;
        font-weight: 100;
        border-bottom: 3px solid #99e2d0 ;
        width: 2.5rem;
    }
    
    .entree{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .titre_entree h3 {
        margin-bottom: 0;
        font-weight: 500;
    }
    .titre_entree p{
        margin-top: 0;
        font-weight: 100;
    }
    
}

